body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  }
  
  h1 {
    color: rgb(255, 0, 0)!important;
    text-align: center;
    margin-left: 30px;
    font-family: 'Times New Roman';
  }
  p {
      color: rgb(255, 230, 0);
      font-family: 'Times New Roman';
      text-align: justify;
      margin-left: 58px;
  }
  
  h2 {
    color: rgb(255, 230, 0);
    font-family: 'Times New Roman';
    text-align: left;
    margin-left: 28px;
  }
  table, th {
    color: darkorange!important;
    border: 2px solid rgb(255, 230, 0);
  }